<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Game1 Page</title>

    <!-- CSS only -->
    <link
      href="../css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css"
      integrity="sha512-Oy+sz5W86PK0ZIkawrG0iv7XwWhYecM3exvUtMKNJMekGFJtVAhibhRPTpmyTj8+lJCkmWfnpxKgT2OopquBHA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="../css/3.3.5-bootstrap.min.css"
    />

    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="../css/game1.css" />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!-- jiquery 3.6.1 -->
    <script
      src="../script/jquery-3.6.1.min.js"
    ></script>
  </head>

  <body>
    <div class="wrapper">
      <!-- Sidebar Holder -->
      <nav id="sidebar">
        <div class="sidebar-header" id="sidebar-title">
          <h3><i class="bi bi-envelope-paper-heart-fill"></i> Admin Page</h3>
          <strong><i class="bi bi-list"></i></strong>
        </div>

        <ul class="list-unstyled components">
          <li class="">
            <a href="../index.html">
              <i class="bi bi-house"></i>
              Home
            </a>
          </li>
          <li class="active">
            <a href="./game1.html">
              <i class="bi bi-image"></i>
              Game 1
            </a>
          </li>
          <li class="">
            <a href="./game2.html">
              <i class="bi bi-clipboard"></i>
              Game 2
            </a>
          </li>
        </ul>
      </nav>

      <!-- Page Content Holder -->
      <div id="content">
        <div class="container" style="max-width: 90%">
          <!-- Page Content  -->
          <!-- Gay -->
          <div id="content" class="p-4 p-md-5 pt-5">
            <h2 class="mb-4">Gay</h2>
            <img class="img-add" src="../img/gay.png" alt="Gay" />
            <div class="container" id="main">
              <br />
              <div class="container">
                <div class="row">
                  <div class="col-sm-2 imgUp">
                    <div class="imagePreview"></div>
                    <label class="btn btn-primary btn-upload">
                      Upload<input
                        type="file"
                        class="uploadFile img"
                        value="Upload Photo"
                        style="width: 0px; height: 0px; overflow: hidden"
                      />
                    </label>
                  </div>
                  <!-- col-2 -->
                  <i class="fa fa-plus imgAdd"></i>
                </div>
                <!-- row -->
              </div>
              <!-- container -->
            </div>
            <div class="col-md-3">
              <a class="btn btn-primary btn-submit">Submit</a>
            </div>

            <hr />
            <h2 class="mb-4">Les</h2>
            <img class="img-add" src="../img/les.png" alt="Les" />
            <div class="container" id="main">
              <br />
              <div class="container">
                <div class="row">
                  <div class="col-sm-2 imgUp">
                    <div class="imagePreview"></div>
                    <label class="btn btn-primary btn-upload">
                      Upload<input
                        type="file"
                        class="uploadFile img"
                        value="Upload Photo"
                        style="width: 0px; height: 0px; overflow: hidden"
                      />
                    </label>
                  </div>
                  <!-- col-2 -->
                  <i class="fa fa-plus imgAdd"></i>
                </div>
                <!-- row -->
              </div>
              <!-- container -->
            </div>
            <div class="col-md-3">
              <a class="btn btn-primary btn-submit">Submit</a>
            </div>

            <hr />
            <h2 class="mb-4">Normal</h2>
            <img class="img-add" src="../img/normal.png" alt="Normal" />
            <div class="container" id="main">
              <br />
              <div class="container">
                <div class="row">
                  <div class="col-sm-2 imgUp">
                    <div class="imagePreview"></div>
                    <label class="btn btn-primary btn-upload">
                      Upload<input
                        type="file"
                        class="uploadFile img"
                        value="Upload Photo"
                        style="width: 0px; height: 0px; overflow: hidden"
                      />
                    </label>
                  </div>
                  <!-- col-2 -->
                  <i class="fa fa-plus imgAdd"></i>
                </div>
                <!-- row -->
              </div>
              <!-- container -->
            </div>
            <div class="col-md-3">
              <a class="btn btn-primary btn-submit">Submit</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- JavaScript Bundle with Popper -->
    <script
      src="../script/bootstrap.bundle.min.js"
    ></script>
    <script src="../script/storage.js"></script>
    <script src="../script.js"></script>
    <script src="../script/game1.js"></script>
  </body>
</html>
