html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

@import "./sass/home.css";
@import "./sass/payment.css";
// @import "./sass/admin.css";
